@media (max-width: 57rem) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 85%;
    margin: 10rem auto;
    /* overflow: visible; */
  }

  .image {
    width: 100%;
  }

  .right {
    text-align: center;
    margin: 0 auto;
  }

  .description {
    max-width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .stats {
    flex-direction: column;
    max-width: 100%;
    gap: 3rem;
    margin-bottom: 4rem;
  }
  .stat h2 {
    font-size: 4rem;
  }
  .stat p {
    font-size: 2rem;
  }
  /* body {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 90%;
    display: flex;
    flex-direction: column-reverse;
  }

  .image {
    width: 100%;
  }





    
  */
}
